* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  font-family: "Kanit", sans-serif;
}

/*Menu*/

header,
footer {
  background-color: #7f6acc;
}

footer {
  bottom: 0;
  margin-top: 3.47%;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #7f6acc;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
}

.btn:active {
  transform: translateY(-3px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after {
  background-color: rgb(113, 105, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.menu {
  padding: 10px 20px;
  border-radius: 16px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*Página principal*/

.Topicos {
  border: 2px black solid;
  width: 45%;
  height: 20%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 1px;
  border-radius: 10px;
  margin: 2vw;
}

.img {
  width: 15vw;
  height: 15vw;
  border-radius: 10px;
}

.main-topics {
  display: flex;
  margin: auto;
  padding: 1vw;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.p-topics {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 3vw;
}

/*Paǵinas de Texto*/
main {
  background-color: white;
  text-align: center;
  margin: 2cm 6cm auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 1px solid black;
}

.texto {
  text-align: justify;
  padding: 6px;
  text-indent: 6%;
}

.image {
  text-align: center;
  margin: auto;
}

.referencia {
  background-color: white;
  text-indent: 0;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  color: black;
  margin: none;
}

h1 {
  text-align: left;
  text-indent: 10px;
}

a {
  text-decoration: none;
  display: flex;
  color: black;
}

ul {
  list-style-type: none;
}

